<div class="container">
    <button type="button" class="btn btn-primary button" (click)="goBack()">Go back</button>
    <div class="container-for">
        @for(hero of heroList; track $index){
            <div>
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">HERO NAME: {{hero?.name}} </li>
                      <li class="list-group-item">HERO ID: {{hero?.id}}</li>
                    </ul>
                    <div class="card-footer">
                        <label for="newName" class="form-label">Cambiar nombre:</label>
                        @if(hero){
                        <input type="text" placeholder="Nuevo nombre" id="newName" class="form-control me-2"
                        [(ngModel)]="hero.name">
                        }
                    </div>   
                </div>
            </div>
        }@empty{
            <p style="color: brown;">No se han encontrado elementos para esa busqueda</p>
        }
    </div>
</div>
